.playlist-header img{
    width: 100px;
    height: 100px;
}

.playlist-header{
    display: flex;
    flex-direction: row;
}

.playlist-desc{
    display: flex;
    flex-direction: column;
}

.playlist-details li{
    list-style: none;
    padding: 0;
    margin: 0;
}