body{
    background-color: black;
    color: aliceblue;
}

.song_details{
    display: grid;
    grid-template-rows: 0.25fr 0.65fr 0.1fr;
    grid-template-areas: 'head' 'body' 'foot';
    height: 92vh; 
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
    border-radius: 5px;
}
.song_head{
    grid-area: head;
    background-image: linear-gradient(to bottom, rgb(89, 90, 92), black);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap:10px;
    border-radius: 10px;
}
.song_body{
    grid-area: body;
    background-image: linear-gradient(to bottom, rgb(117, 119, 121), black);
    border-radius: 5px;
}
.song_foot{
    grid-area: foot;
}
.img_song_detail{
    width:16%;
    height:84%;
    
    margin: 10px;
    border-radius: 10px;
}
.visible_lyrics{
    background-color: transparent;
    border: None;
    color:white;
    font-weight: bold;
    margin-top: 5px;
    margin-left:10px;
    font-size: 14px;
    
}
.tableSongList{
    display: flex;
    flex-direction: column;
    gap:15px;

}
.tableHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-right:60px;
    margin-left:60px;
}
.tableBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:60px;
    margin-left:60px;
    
}

.popout-frame{
    z-index: 10;
  
}
.popout-frame.popout {
    position: fixed; 
    z-index: 1000;
    right: 50%; 
    bottom: 50%;
    background-color: white;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
  } 
.deleteAModal{
    
        position: fixed; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 10px;
        padding: 38px;
        width:400px;
 
        height: 120px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1001; 
   
}
.updateAModal{
        position: fixed; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        background: rgba(40, 40, 41, 0.7);
        /* border: 0.2px solid whitesmoke; */
        border-radius: 10px;
        padding: 38px;
        width:600px;
        height: 400px;
        /* box-shadow: 0 4px 8px rgba(96, 95, 95, 0.2); */
        z-index: 1001; 
        overflow-y: auto;
}
.deleteAOverlay{ 
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(21, 21, 21, 0.3);
        z-index: 1000; 
}

.closeDeleteButton{
    background-color: transparent;
    border: None;
}
.songDetailDropDownButton{

    background-color: transparent;
    border: None;
    color:white;
    font-weight: bolder;
}
.updateDeleteContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 5px;
    /* border: 1px solid whitesmoke; */
    padding: 5px;
    background-color: rgba(53, 53, 53, 0.95);
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: -110px;       
    left: -110px;       
    box-shadow: 0 4px 8px rgb(23, 23, 23);
  
}
.updateASongNav{
    background-color: transparent;
    border: None;
    color:whitesmoke;
    margin:3px;
    padding: 10px;
    border-bottom: 1px solid rgb(104, 102, 102);
}
.deleteASongNav{
    background-color: transparent;
    border: None;
    color:whitesmoke;
    margin:3px;
 
}
.songDetailDropDown{
    position: relative;
   
}
.lyrics_format{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 20px;
}
.lyrics_detail_format{
    padding-left: 20px;
    font-size: 16px;
    margin:10px;
}