.img_sidebar{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    
}
.songs_sidebar{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap:10px;
    cursor: pointer;
}
.songs_sidebar:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.title_sidebar{
    background-color: transparent;
    color:aliceblue;
    font-size: 18px;
    border:None;
    font-family: 'Times New Roman', Times, serif;
    width: 150px; 
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
}