body {
  background-color: #222222;
  color: white;
}

.button-container {
  box-sizing: border-box;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.current-song-artist {
  color: #b3b3b3;
  font-size: 12px;
}

.current-song-details {
  width: 30vw;
  display: flex;
  justify-content: flex-start;
}

.current-song-image {
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

.current-song-image-div {
  margin: 0 8px;
}

.current-song-title {
  font-size: 14px;
  font-weight: bold;
}

.current-song-title-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  text-align: left;
}

.left-navbar-div {
  background-color: #121212;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 280px;
  max-width: 420px;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}

.log-in-button {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  box-sizing: border-box;
  padding: 0 32px 4px;
  border-radius: 24px;
  display: flex;
  align-items: center;
}

.log-in-button > a {
  color: black;
}

.log-in-button > a,
.sign-up-button > a {
  text-decoration: none;
}

.log-in-button:hover,
.pause-play-button.button-container:hover,
.sign-up-button:hover {
  scale: 1.04;
}

.log-in-button:hover,
.museic-logo:hover,
.music-player-button:hover,
.sign-up-button:hover {
  cursor: pointer;
}

main {
  height: calc(100vh - 88px - 64px);
  display: flex;
  gap: 8px;
  padding: 0 8px;
  box-sizing: border-box;
}

.museic-logo {
  width: 32px;
  height: 32px;
  display: block;
}

.museic-logo-div {
  width: 72px;
  display: flex;
  justify-content: center;
}

.music-player {
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  padding: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.music-player-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player-controls {
  background-color: black;
  width: 40vw;
  height: 72px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.music-player-progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.music-player-right-div {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}

.nav-container {
  background-color: black;
  height: 64px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pause-play-button {
  fill: black;
}

.pause-play-button.button-container {
  background-color: white;
  margin: 0 16px;
}

.profile-button-div {
  background-color: white;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.profile-dropdown {
  position: absolute;
}

.progress-bar {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  top: 0;
  left: 0;
  pointer-events: none; /* Prevent interaction with the progress bar itself */
}

.progress-bar-background {
  width: 100%;
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 2px;
  cursor: pointer;
  position: relative; /* Needed for positioning the actual progress bar */
}

.progress-bar-background:hover .progress-bar {
  background-color: #5c3be8;
}

.progress-bar-background:hover .progress-bar-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-main-div {
  background-image: linear-gradient(#1f1f1f, #121212);
  flex: 1 1 850px;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}

.sign-up-button {
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  box-sizing: border-box;
  padding: 0 16px 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.sign-up-button > a {
  color: #b3b3b3;
}

.sign-up-button:hover {
  color: white;
}

.skip-button,
.volume-button {
  fill: #b3b3b3;
}

.skip-button:hover,
.volume-button:hover {
  fill: white;
}

.time-left {
  text-align: right;
}

.time-left,
.time-right {
  color: #b3b3b3;
  font-size: 12px;
  min-width: 40px;
}

.time-right {
  text-align: left;
}

.volume-bar {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  top: 0;
  left: 0;
  pointer-events: none; /* Prevent interaction with the progress bar itself */
}

.volume-bar-background {
  width: 100%;
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 2px;
  cursor: pointer;
  position: relative; /* Needed for positioning the actual progress bar */
}

.volume-bar-background:hover .volume-bar {
  background-color: #5c3be8;
}

.volume-bar-background:hover .volume-bar-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  transform: translate(-50%, -50%);
}

.volume-control {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}
